<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/init.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/header_footer.css">
  <link rel="stylesheet" href="/css/coordinador/calificaciones.css">
  <meta charset="UTF-8">
</head>

<body>

  <header>
    <div id="left-header">

        <a href="#"><img src="/images/logo.png" alt="logo"></a>
        <h1>Colegio Santa Marta - Coordinación</h1>

      <a href="#"><img src="/images/logo.png" alt="logo"></a>
      <h1>Coordinador Abiham Ramos</h1>

    </div>

    <!-- OPCIONES DEL HEADER ACA -->
    <div id="right-header">
      <a href="/auth/logout">Salir</a>
      <div>
  </header>



  <nav id="sidebar">
    <!-- OPCIONES DE LA SIDEBAR ACA -->
    <a href="/coordinador">Inicio</a>
    <a href="/coordinador/periodo">Periodos</a>
    <a href="/coordinador/asignatura">Asignaturas</a>
    <a href="/coordinador/carga-academica">Cargas Académicas</a>
    <a href="/coordinador/inscripcion">Inscripción</a>
    <a href="/coordinador/calificaciones" class="actual-link-sidebar">Calificaciones</a>
    <a href="/coordinador/docente">Docentes</a>
    <a href="/coordinador/estudiante">Estudiantes</a>
    <a href="/coordinador/representante">Representantes</a>
  </nav>

  <main class="content-main">

    <div class="header-main">
      <h2>Calificaciones</h2>
    </div>

    <div class="card-docente">
      <div class="content">

        <div class="div-content">
          <div class="header-inside">
            <h2>Boletin</h2>
          </div>

          <form action="/coordinador/calificaciones/boletin" method="GET">
            <label for="cedula_alumno">Cedula del Alumno</label>
            <input type="number" name="cedula_alumno" required>
            
            <label for="Años">Año</label>
            <select name="grado" required>
              <option value="1">1ro</option>
              <option value="2">2do</option>
              <option value="3">3ro</option>
              <option value="4">4to</option>
              <option value="5">5to</option>
            </select>
            <input type="submit" value="Consultar">
           
          </form>


        </div>

        <div class="div-content">
          <div class="header-inside">
            <h2>Notas Finales de un Estudiante</h2>
          </div>
          <form action="/coordinador/calificaciones/finales" method="GET">
            <label for="cedula_alumno">Cedula del Alumno</label>
            <input type="number" name="cedula_alumno">
            <input type="submit" value="Consultar">
          </form>
         

        </div>

        <div class="div-content">
          <div class="header-inside">
            <h2>Notas Finales de una Clase</h2>
          </div>

          <form action="/coordinador/calificaciones/clases" method="">
              <label for="periodo">Seleccione un Periodo</label>
              <select name="periodo" id="periodos">
                <% data.periodos.forEach(periodo => { %>
                  <option value="<%=periodo.id%>"><%=periodo.nombre%></option>
                <% })%>
                
              </select>

              <label for="seccion">Seleccione una Sección</label>
              <select name="seccion" id="secciones">
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
                <option value="">D</option>
                <option value="">E</option>
              </select>

              <label for="materia">Seleccione una Materia</label>
              <select name="materia" id="">
                <% data.asignaturas.forEach(asignatura => { %>
                  <option value="<%=asignatura.id%>"><%=asignatura.nombre%></option>
                <% })%>
              </select>

              <input type="submit" value="Consultar">
          </form>

        </div>
        <% if (data.error){%> <p class="error"><%= data.error %></p> <%}%>
      </div>
    </div>

    <footer>
      <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>

    <!-- ERRORES -->
   

</body>

</html>