<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/init.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/header_footer.css">
<link rel="stylesheet" href="/css/coordinador/representante.css">
<link rel="stylesheet" href="/css/coordinador/crearCarga.css">

<meta charset="UTF-8">
</head>
<body>
  <header>
    <div id="left-header">
        <a href="#"><img src="/images/logo.png" alt="logo"></a>
        <h1>Coordinador Abiham Ramos</h1>
    </div>

    <!-- OPCIONES DEL HEADER ACA -->
    <div id="right-header">
        <a href="#">Salir</a>
    <div>
</header>

<nav id="sidebar">
    <!-- OPCIONES DE LA SIDEBAR ACA -->
     <a href="#">Inicio</a>
     <a href="#">Períodos</a>
     <a href="#">Asignaturas</a>
     <a href="#" class="actual-link-sidebar">Carga Académica</a>
     <a href="#">Calificaciones</a>
     <a href="#">Docentes</a>
     <a href="#">Estudiantes</a>
     <a href="#">Representantes</a>
</nav>

<main class="content-main">
<div class="header-main">
  <a href="/coordinador/carga-academica" class="nuevo">Regresar</a>   
</div>

<div class="card-representante">
  <div class="header-inside">
      <h2>Editar Carga Académica</h2>
  </div>

  <form action="/coordinador/carga-academica/editar/<%= data.carga_id %>" method="POST">
    <div class="content">
      <div>
        <label for="materia">Materia</label>
        <select name="materia" id="">
            <%data.asignaturas.forEach(asignatura => { %>
            <option value="<%= asignatura.id %>"><%= asignatura.nombre %></option>
            <% }) %>          
          </select>
      </div>
      <div>
        
        <label for="grado">Años</label>
        <select name="grado" id="grados-disponibles">
        </select>

        <label for="seccion">Secciones</label>
        <select name="seccion" id="">
          <% data.periodo.secciones.forEach(seccion => { %>
            <option value="<%= seccion %>">Seccion <%= seccion %></option>
          <% }) %> 
          </select>
    </div>
    <input type="hidden" name="carga_id" value="<%= data.carga_id %>">
    <input type="submit" value="Guardar">
  </form>

</div>

</main>

<footer>
    <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const selectMateria = document.querySelector('select[name="materia"]');
    const selectGrados = document.querySelector('select[name="grado"]');

    const materiaSeleccionada = data.cargaData.materia_id;
    selectMateria.value = materiaSeleccionada;

    const gradosDisponibles = data.asignaturas.find(asignatura => asignatura.id == materiaSeleccionada).grados;
    selectGrados.innerHTML = `${gradosDisponibles.map(grado => `<option value="${grado}" ${data.cargaData.anio == grado ? 'selected' : ''}>Grado ${grado}</option>`).join('')}`;

    const seccionSeleccionada = data.cargaData.seccion;
    document.querySelector('select[name="seccion"]').value = seccionSeleccionada;


    selectMateria.addEventListener('change', function(){
      const gradosDisponibles = data.asignaturas.filter(asignatura => asignatura.id == selectMateria.value)[0].grados;
      selectGrados.innerHTML = `${gradosDisponibles.map(grado => `<option value="${grado}">Grado ${grado}</option>`).join('')}`;
    })
})
</script>

</body>
</html>