<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/representante.css">
<meta charset="UTF-8">
</head>

<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Coordinador Abiham Ramos</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>

<nav id="sidebar">
    <!-- OPCIONES DE LA SIDEBAR ACA -->
     <a href="#">Inicio</a>
     <a href="#">Períodos</a>
     <a href="#">Asignaturas</a>
     <a href="#">Carga Académica</a>
     <a href="#">Calificaciones</a>
     <a href="#" class="actual-link-sidebar">Docentes</a>
     <a href="#">Estudiantes</a>
     <a href="#">Representantes</a>
</nav>

<main class="content-main">
    <div class="header-main">
        <h2>Docentes</h2>
        <a href="/coordinador/docente/crear" class="nuevo">Registrar Docente</a>
    </div>

    <div class="card-buscar">
        <h3>Buscar Docente</h3>
        <form action="/coordinador/docente/buscar" method="GET">
            <input type="text" name="docente" placeholder="Ingrese cédula del docente">
            <input type="submit" value="Buscar">
        </form>
    </div>


    <% if (data.docente){%>
        <div class="card-representante">
            
            <div class="header-inside">
                <h2>Información del Docente</h2>
                <a href="/coordinador/docente/editar/<%= data.docente.id %>">Editar</a>
            </div>
            

            <div class="content">
               
                <div>
                    <p>
                        <span>Estado</span> 
                        <% if (data.docente.activo == 1){%> 
                            Activo
                        <%} else {%>
                            Inactivo
                        <%}%>
                    </p>
                    <p>
                        <span>Nombres y Apellidos:</span>  
                        <%= data.docente.primer_nombre %> <%= data.docente.segundo_nombre %>
                        <%= data.docente.primer_apellido %> <%= data.docente.segundo_apellido %></p>
                    </p>
                    <p><span>Edad:</span>  <%= data.docente.edad %></p>
                    <p><span>Sexo:</span> <%= data.docente.genero %></p>
                    <p><span>Especialidad:</span> <%= data.docente.especialidad %></p>
                    <p><span>Teléfono:</span> <%= data.docente.telefono %></p>
                    <p><span>Teléfono Alternativo:</span> <%= data.docente.telefono_alt %></p>
                    <p><span>Estado Civil:</span> <%= data.docente.estado_civil %></p>
                    <p><span>Cedula:</span> <%= data.docente.cedula %></p>
                </div>

                <div>
                    <p><span>Fecha de Nacimiento:</span> <%= data.docente.fecha_nacimiento %></p>
                    <p><span>Lugar de Nacimiento:</span> <%= data.docente.ciudad_nacimiento %>, <%= data.docente.estado_nacimiento %>, <%= data.docente.pais_nacimiento %></p>
                    <p><span>Dirección de Domicilio:</span> <%= data.docente.casa_direccion %></p>
                    <p><span>Titulo Academico:</span> <%= data.docente.titulo_academico %></p>
                    <p><span>Correo Electrónico:</span> <%= data.docente.correo %></p>
                    <p><span>Correo Alternativo:</span> <%= data.docente.correo_alt %></p>
                </div>
 
            </div>  
            
        </div>
        <% } %> 
</main>

<footer>
    <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
</footer>

</body>
</html>