<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Estudiantes</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/estudiante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Colegio Santa Marta - Coordinación</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente">Docentes</a>
        <a href="/coordinador/estudiante" class="actual-link-sidebar">Estudiantes</a>
        <a href="/coordinador/representante">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <h2>Estudiantes</h2>
            <a href="/coordinador/estudiante/crear" class="nuevo">Nuevo Estudiante</a>
        </div>
       
        
        <div class="card-buscar">
            <h3>Buscar Estudiante</h3>
            <form action="/coordinador/estudiante/buscar" method="GET">
                <input type="text" name="estudiante" id="estudiante" placeholder="Ingrese cédula del estudiante">
                <input type="submit" value="Buscar">
            </form>
        </div>

        <% if (data.estudiante){ %> 
        <div class="card-estudiante">
            <div class="header-inside">
                <h2>Información del Estudiante</h2>
                <a href="/coordinador/estudiante/editar/<%= data.estudiante.id %>">Editar</a>
            </div>
            

            <div class="content">
                <div>
                    <p><span>Estado</span> <%=data.estudiante.estado_academico%></p>
                    <p>
                        <span>Nombres y Apellidos:</span>  
                        <%= data.estudiante.primer_nombre %> <%= data.estudiante.segundo_nombre %>
                        <%= data.estudiante.primer_apellido %> <%= data.estudiante.segundo_apellido %></p>
                    </p>
                    <p><span>Edad:</span><%=data.estudiante.edad%></p>
                    <p><span>Sexo:</span> <%=data.estudiante.genero%></p>
                    <p><span>Estado Civil:</span> <%=data.estudiante.estado_civil%></p>
                    <p><span>Cedula:</span> <%=data.estudiante.cedula%></p>
                </div>

                <div>
                    <p><span>Fecha de Nacimiento:</span> <%=data.estudiante.fecha_nacimiento%></p>
                    <p><span>Lugar de Nacimiento:</span> <%=data.estudiante.ciudad_nacimiento%>, <%=data.estudiante.estado_nacimiento%>,<%=data.estudiante.pais_nacimiento%></p>
                    <p><span>Dirección de Domicilio:</span> <%=data.estudiante.casa_direccion%></p>
                    <p><span>Discapacidad:</span> <%=data.estudiante.discapacidad%></p>
                </div>
 
            </div>  
        </div>
        <% } %>
        
        <div class="card-inscripciones">
            <div class="header-inside">
                <h2>Inscripciones</h2>
            </div>
            <!-- Acá saldrá los estudiantes que este estudiante representa -->
            <table>
                <tr>
                    <th>Fecha de inscripción</th>
                    <th>Año académico</th>
                    <th>Sección</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>12/12/2022</td>
                    <td>3ro</td>
                    <td>Sección A</td>
                    <td>Activo</td>
                </tr>
            </table>
        </div>
    
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>