<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Estudiantes</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/estudiante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Colegio Santa Marta - Coordinación</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente">Docentes</a>
        <a href="/coordinador/estudiante/editar/:id" class="actual-link-sidebar">Estudiantes</a>
        <a href="/coordinador/representante">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <a href="/coordinador/estudiante" class="nuevo">Regresar</a>
        </div>
       
        <div class="card-estudiante">
            <div class="header-inside">
                <h2>Actualizar Estudiante</h2>
            </div>

            <form action="/coordinador/estudiante/editar/<%= data.estudiante.id %>" method="POST">
                <div class="content">
                    <div>
                        <label for="primer_nombre">Primer Nombre</label>
                        <input type="text" id="primer_nombre" name="primer_nombre" value=<%= data.estudiante.primer_nombre %>>
                        <label for="segundo_nombre">Segundo Nombre</label>
                        <input type="text" id="segundo_nombre" name="segundo_nombre" value=<%= data.estudiante.segundo_nombre %>>
                        <label for="primer_apellido">Primer Apellido</label>
                        <input type="text" id="primer_apellido" name="primer_apellido" value=<%= data.estudiante.primer_apellido %>>
                        <label for="segundo_apellido">Segundo Apellido</label>
                        <input type="text" id="segundo_apellido" name="segundo_apellido" value=<%= data.estudiante.segundo_apellido %>>
    
                        <label for="genero">Genero</label>
                        <select name="genero">
                            <option value="Masculino" <%= data.estudiante.genero === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                            <option value="Femenino" <%= data.estudiante.genero === 'Femenino' ? 'selected' : '' %>>Femenino</option>
                        </select>
    
                        <label for="cedula">Cedula</label>
                        <input type="text" id="cedula" name="cedula" value=<%= data.estudiante.cedula %>>
    
                        <label for="estado_civil">Estado Civil</label>
                        <select name="estado_civil">
                            <option value="Soltero" <%= data.estudiante.estado_civil === 'Soltero' ? 'selected' : '' %>>Soltero</option>
                            <option value="Casado" <%= data.estudiante.estado_civil === 'Casado' ? 'selected' : '' %>>Casado</option>
                            <option value="Divorciado" <%= data.estudiante.estado_civil === 'Divorciado' ? 'selected' : '' %>>Divorciado</option>
                        </select>
    
                    </div>
    
                    <div>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value=<%= data.estudiante.fecha_nacimiento %>>
    
                        <label for="ciudad_nacimiento">Ciudad de Nacimiento</label>
                        <input type="text" id="ciudad_nacimiento" name="ciudad_nacimiento" value=<%= data.estudiante.ciudad_nacimiento %>>
                        <label for="estado_nacimiento">Estado de Nacimiento</label>
                        <input type="text" id="estado_nacimiento" name="estado_nacimiento" value=<%= data.estudiante.estado_nacimiento %>>
                        <label for="pais_nacimiento" >Pais de Nacimiento</label>
                        <input type="text" id="pais_nacimiento" name="pais_nacimiento" value=<%= data.estudiante.pais_nacimiento %>>
    
                        <label for="direccion_domicilio">Direccion Domicilio</label>
                        <input type="text" id="direccion_domicilio" name="direccion_domicilio" value=<%= data.estudiante.casa_direccion %>>
                        
                        <label for="discapacidad">Discapacidad</label>
                        <input type="text"  name="discapacidad" value=<%= data.estudiante.discapacidad %>>

                        <label for="estado">Estado</label>
                        <select name="estado">
                            <option value="Activo" <%= data.estudiante.estado_academico === 'Activo' ? 'selected' : '' %>>Activo</option>
                            <option value="Suspendido" <%= data.estudiante.estado_academico === 'Suspendido' ? 'selected' : '' %>>Suspendido</option>
                            <option value="Graduado" <%= data.estudiante.estado_academico === 'Graduadoo' ? 'selected' : '' %>>Graduado</option>
                            <option value="Inactivo" <%= data.estudiante.estado_academico === 'Inactivo' ? 'selected' : '' %>>Inactivo</option>
                        </select>
                    </div>

                </div>
                <input type="submit" value="Guardar">
            </form>

        </div>
    
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>