<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Representantes </title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/representante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Coordinador Abiham Ramos</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="#">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
         <a href="#">Inicio</a>
         <a href="#">Periodos</a>
         <a href="#" >Asignaturas</a>
         <a href="#">Cargas Académicas</a>
         <a href="#">Inscripción</a>
         <a href="#">Calificaciones</a>
         <a href="#">Docentes</a>
         <a href="#">Estudiantes</a>
         <a href="#"  class="actual-link-sidebar">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <a href="/coordinador/representante" class="nuevo">Regresar</a>   
        </div>

        <div class="card-representante">
            <div class="header-inside">
                <h2>Actualizar Representante</h2>
            </div>
            <form action="/coordinador/representante/editar/<%= data.representante.id %> " method="POST">
                <div class="content">
                    <div>
                        <label for="primer_nombre">Primer Nombre</label>
                        <input type="text" id="primer_nombre" name="primer_nombre" value="<%= data.representante.primer_nombre %>">
                        <label for="segundo_nombre">Segundo Nombre</label>
                        <input type="text" id="segundo_nombre" name="segundo_nombre" value="<%= data.representante.segundo_nombre %>">
                        <label for="primer_apellido">Primer Apellido</label>
                        <input type="text" id="primer_apellido" name="primer_apellido" value="<%= data.representante.primer_apellido %>">
                        <label for="segundo_apellido">Segundo Apellido</label>
                        <input type="text" id="segundo_apellido" name="segundo_apellido" value="<%= data.representante.segundo_apellido %>">
                    
                        <label for="genero">Género</label>
                        <select name="genero">
                            <option value="Masculino" <%= data.representante.genero === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                            <option value="Femenino" <%= data.representante.genero === 'Femenino' ? 'selected' : '' %>>Femenino</option>
                        </select>
                    
                        <label for="cedula">Cédula</label>
                        <input type="text" id="cedula" name="cedula" value="<%= data.representante.cedula %>">
                    
                        <label for="estado_civil">Estado Civil</label>
                        <select name="estado_civil">
                            <option value="Soltero" <%= data.representante.estado_civil === 'Soltero' ? 'selected' : '' %>>Soltero</option>
                            <option value="Casado" <%= data.representante.estado_civil === 'Casado' ? 'selected' : '' %>>Casado</option>
                            <option value="Divorciado" <%= data.representante.estado_civil === 'Divorciado' ? 'selected' : '' %>>Divorciado</option>
                        </select>
                    
                        <label for="cargo_trabajo">Cargo de Trabajo</label>
                        <input type="text" id="cargo_trabajo" name="cargo_trabajo" value="<%= data.representante.trabajo %>">
                        <label for="lugar_trabajo">Lugar de Trabajo</label>
                        <input type="text" id="lugar_trabajo" name="lugar_trabajo" value="<%= data.representante.lugar_trabajo %>">
                    
                        <label for="tlfno">Teléfono</label>
                        <input type="text" id="tlfno" name="tlfno" value="<%= data.representante.telefono %>">
                    
                        <label for="tlfno2">Teléfono Alternativo</label>
                        <input type="text" id="tlfno2" name="tlfno2" value="<%= data.representante.telefono_alt %>">
                    </div>
                    
                    <div>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%= data.representante.fecha_nacimiento %>">
                    
                        <label for="ciudad_nacimiento">Ciudad de Nacimiento</label>
                        <input type="text" id="ciudad_nacimiento" name="ciudad_nacimiento" value="<%= data.representante.ciudad_nacimiento %>">
                        <label for="estado_nacimiento">Estado de Nacimiento</label>
                        <input type="text" id="estado_nacimiento" name="estado_nacimiento" value="<%= data.representante.estado_nacimiento %>">
                        <label for="pais_nacimiento">País de Nacimiento</label>
                        <input type="text" id="pais_nacimiento" name="pais_nacimiento" value="<%= data.representante.pais_nacimiento %>">
                    
                        <label for="direccion_domicilio">Dirección Domicilio</label>
                        <input type="text" id="direccion_domicilio" name="direccion_domicilio" value="<%= data.representante.casa_direccion %>">
                    
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="<%= data.representante.correo %>">
                        <label for="email2">Email Alternativo</label>
                        <input type="email" id="email2" name="email2" value="<%= data.representante.correo_alt %>">
                    </div>
                    

                    <div>
                        <label for="estado">Estado</label>
                        <select name="estado">
                            <option value="1" <%= data.representante.estado === '1' ? 'selected' : '' %>>Activo</option>
                            <option value="0" <%= data.representante.estado_civil === '0' ? 'selected' : '' %>>Inactivo</option>
                        </select>
                    </div>

                    <div>
                        <% if (data.representante.usuario_id == null) {%>
                            <label for="usuario">Usuario</label>
                            <input type="text" id="usuario" name="username" disabled>
                            <label for="contrasena">Contrasena</label>
                            <input type="text" id="contrasena" name="password" disabled>
                        <%} else {%>
                            <label for="usuario">Usuario</label>
                            <input type="text" id="usuario" name="username" value="<%= data.user.nombre_usuario %>">
                            <label for="contrasena">Contrasena</label>
                            <input type="text" id="contrasena" name="password" value="<%= data.user.clave_acceso %>">
                        <%}%>
                    </div>
                </div>
                <input type="submit" value="Guardar">
            </form>
        </div>

    
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>