<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Representantes</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/representante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Coordinador Abiham Ramos</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente">Docentes</a>
        <a href="/coordinador/estudiante">Estudiantes</a>
        <a href="/coordinador/representante" class="actual-link-sidebar">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <h2>Representantes</h2>
            <a href="/coordinador/representante/crear" class="nuevo">Nuevo Representante</a>
        </div>
       
        
        <div class="card-buscar">
            <h3>Buscar Representante</h3>
            <form action="/coordinador/representante/buscar" method="GET">
                <input type="text" name="representante" id="representante" placeholder="Ingrese cédula del representante">
                <input type="submit" value="Buscar">
            </form>
        </div>

        <% if (data.representante){%>
        <div class="card-representante">
            
            <div class="header-inside">
                <h2>Información del Representante</h2>
                <a href="/coordinador/representante/editar/<%= data.representante.id %>">Editar</a>
            </div>
            

            <div class="content">
               
                <div>
                    <p>
                        <span>Estado</span> 
                        <% if (data.representante.activo == 1){%> 
                            Activo
                        <%} else {%>
                            Inactivo
                        <%}%>
                    </p>
                    <p>
                        <span>Nombres y Apellidos:</span>  
                        <%= data.representante.primer_nombre %> <%= data.representante.segundo_nombre %>
                        <%= data.representante.primer_apellido %> <%= data.representante.segundo_apellido %></p>
                    </p>
                    <p><span>Edad:</span>  <%= data.representante.edad %></p>
                    <p><span>Sexo:</span> <%= data.representante.genero %></p>
                    <p><span>Cargo de Trabajo:</span> <%= data.representante.trabajo %></p>
                    <p><span>Teléfono:</span> <%= data.representante.telefono %></p>
                    <p><span>Teléfono Alternativo:</span> <%= data.representante.telefono_alt %></p>
                    <p><span>Estado Civil:</span> <%= data.representante.estado_civil %></p>
                    <p><span>Cedula:</span> <%= data.representante.cedula %></p>
                </div>

                <div>
                    <p><span>Fecha de Nacimiento:</span> <%= data.representante.fecha_nacimiento %></p>
                    <p><span>Lugar de Nacimiento:</span> <%= data.representante.ciudad_nacimiento %>, <%= data.representante.estado_nacimiento %>, <%= data.representante.pais_nacimiento %></p>
                    <p><span>Dirección de Domicilio:</span> <%= data.representante.casa_direccion %></p>
                    <p><span>Lugar de Trabajo:</span> <%= data.representante.lugar_trabajo %></p>
                    <p><span>Correo Electrónico:</span> <%= data.representante.correo %></p>
                    <p><span>Correo Alternativo:</span> <%= data.representante.correo_alt %></p>
                </div>
 
            </div>  
            
        </div>
        
        
        
        <div class="card-representados">
            
            <div class="container">
                <h2>Añadir Representados</h2>
                <form action="/coordinador/representante/<%= data.representante.id %>/representado/crear" method="POST">
                    <input type="text" name="representado" placeholder="Ingrese cédula del estudiante">
                    <input type="submit" value="Agregar">
                </form>
            </div>
            <% if (data.representados){%>
            <!-- Acá saldrá los estudiantes que este representante representa -->
            <table>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Cédula</th>
                    <th></th>
                </tr>
                <% for (representado of data.representados){ %> 
                <tr>
                    <td>
                        <%= representado.primer_nombre %> <%= representado.segundo_nombre %> 
                        <%= representado.primer_apellido %> <%= representado.segundo_apellido %>
                    </td>
                    <td><%= representado.cedula %></td>
                    <td>
                        <form action="/coordinador/representante/<%= data.representante.id %>/representado/<%= representado.estudiante_id %>/eliminar" method="POST">
                            <button type="submit">Remover</button>
                        </form>
                    </td>
                </tr>
                <%}%>
            </table>
            <%}%>
        </div>
        
        <% } %> 
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>