<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Inicio</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/docente/stylenotes.css">
</head>
<style>
    .content-notes {
        margin-left: 220px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Docente Ines Sanchez</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="#">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
         <a href="#">Inicio</a>
         <a href="#">Carga De Notas</a>
         <a href="#">Cambio De Contraseña</a>
         
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <!--... -->

    <main class="content-notes">
        <h2>Carga de Notas Académicas</h2>
        <form action="/docente/listado" method="get">
            <label for="materia">Materia:</label>
            <select id="materia" name="materia">
              <%data.asignaturas.forEach(asignatura => { %>
                <option value="<%= asignatura.id %>"><%= asignatura.nombre %></option>
              <% }) %>        
            </select>
        
            <label for="seccion">Sección:</label>
            <select id="seccion" name="seccion">
              <% data.periodo.secciones.forEach(seccion => { %>
                <option value="<%= seccion %>">Seccion <%= seccion %></option>
              <% }) %> 
            </select>
        
            <label for="grado">Año:</label>
            <select name="grado" id="grados-disponibles">
            </select>
            
            <button type="submit" id="buscar">Buscar Listado</button>
          </form>

          <div class="card-listado">
            <form action="">
              <table>
                <tr>
                  <th>Estudiante</th>
                  <th>Cedula</th>
                  <th>Lapso 1</th>
                  <th>Lapso 2</th>
                  <th>Lapso 3</th>
                  <th>Nota Final</th>
                </tr>
                <tr>
                  <td>Abiham Ramos</td>
                  <td>123456789</td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text"></td>
                </tr>
                <tr>
                  <td>Estudiante 2</td>
                  <td>123456789</td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text" value="10"></td>
                  <td><input type="text"></td>
                </tr>
                <!-- Add more rows here -->
              </table>
            </form>
           
          </div>
      </main>
  
  <!--... -->
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
         const data = JSON.parse('<%- JSON.stringify(data) %>');
         const selectMateria = document.querySelector('select[name="materia"]');
         const selectGrados = document.querySelector('select[name="grado"]');
         
         const materiaSeleccionada = selectMateria.options[selectMateria.selectedIndex].value;
         const gradosDisponibles = data.asignaturas.filter(asignatura => asignatura.id == materiaSeleccionada)[0].grados;
         selectGrados.innerHTML = `${gradosDisponibles.map(grado => `<option value="${grado}">Grado ${grado}</option>`).join('')}`;
      
      
        selectMateria.addEventListener('change', function(){
            const gradosDisponibles = data.asignaturas.filter(asignatura => asignatura.id == selectMateria.value)[0].grados;
            selectGrados.innerHTML = `${gradosDisponibles.map(grado => `<option value="${grado}">Grado ${grado}</option>`).join('')}`;
          })
      })
      </script>
    
</body>
</html>