<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Usuario</title>
</head>
<body>
    <h1>Detalles del Usuario</h1>
    <ul>
        <li>ID: <%= data.coord.id %></li>
        <li>Activo: <%= data.coord.activo %></li>
        <li>Fecha de Ingreso: <%= data.coord.fecha_ingreso %></li>
        <li>Fecha de Salida: <%= data.coord.fecha_salida || 'N/A' %></li>
        <li>Datos Personales:</li>
        <ul>
            <li>Nombre: <%= data.datos_personales.primer_nombre %> <%= data.datos_personales.segundo_nombre %></li>
            <li>Apellido: <%= data.datos_personales.primer_apellido %> <%= data.datos_personales.segundo_apellido %></li>
            <li>Cédula: <%= data.datos_personales.cedula %></li>
            <li>Género: <%= data.datos_personales.genero %></li>
            <li>Fecha de Nacimiento: <%= data.datos_personales.fecha_nacimiento %></li>
            <li>Ciudad de Nacimiento: <%= data.datos_personales.ciudad_nacimiento %></li>
            <li>Estado de Nacimiento: <%= data.datos_personales.estado_nacimiento %></li>
            <li>País de Nacimiento: <%= data.datos_personales.pais_nacimiento %></li>
            <li>Dirección: <%= data.datos_personales.casa_direccion %></li>
            <li>Correo Electrónico: <%= data.datos_personales.correo %></li>
            <li>Correo Alternativo: <%= data.datos_personales.correo_alt %></li>
            <li>Teléfono: <%= data.datos_personales.telefono %></li>
            <li>Teléfono Alternativo: <%= data.datos_personales.telefono_alt %></li>
            <li>Estado Civil: <%= data.datos_personales.estado_civil %></li>
        </ul>
    </ul>
</body>
</html>
